[defaults]
inventory          = inventory/hosts.yml
collections_paths  = ~/.ansible/collections
stdout_callback    = yaml
bin_ansible_callbacks = true
gathering          = explicit
roles_path         = roles
retry_files_enabled = false
log_path           = logs/ansible.log
# Suppress SSH host-key prompts for freshly created clab containers
host_key_checking  = False

[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = true
